*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 60px;
    background-color: black;
}
img{
    margin-left: 25px;
    height: 60px;
    width: auto;
    float: left;
}
ul{
    list-style: none;
    margin-left: 55%;
    padding-top: 20px;
}
li {
    display: inline-block;
    margin-right: 10px;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited, a:link{
    text-decoration: none;
    color: white;
}
#navmenu:hover{
    color: green;
}
.body{
    height: 90vh;
    background-image: url("Background.jpg");
    background-size: 100% 90vh;
    font-family: serif;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.product{
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 15px;
    margin-bottom: 35px;
}
.row{
    display: flex;
    margin-left: 40px;
}
.body img{
    height: 40vh;
    border-radius: 8px;
    margin-left: auto;
}
.pict{
    margin: 25px;
    padding: 15px;
    background: #65803e;
    border-radius: 8px;
    max-width: min-content;
    transition: 3s;
}
#header{
    font-size: 25px;
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
}
#desc{
    font-size:  15px;
    color: wheat;
    text-align: center;
    margin-top: 265px;
}
input{
    position: absolute;
    visibility: hidden;
}
.nav-manual{
    position: absolute;
    display: flex;
    margin-top: 415px;
    margin-left: 45%;
}
.manual-btn{
    border: 5px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
    margin-right: 15px
}
.manual-btn:hover{
    background: black;
}
#radio1:checked ~ .first{
    margin-left: none;
}
#radio2:checked ~ .first{
    margin-left: -22.5%;
}
#radio3:checked ~ .first{
    margin-left: -47.5%;
}